@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  user-select: none;
  margin: 0; padding: 0;
}
header {
  margin: auto;
  width: center;
}
main {
    margin: auto;
    max-width: 1024px;
    padding: 16px;
}